main{
    width: 100%;
    margin-bottom: 120px;

    #information{
        width: 60%;
        margin: 0 auto;

        h2{
            font-size: 16px;
            text-align: center;
            margin-top: 16px;
        }
        .information{
            display: flex;
            gap: 62px;
            margin-top: 12px;
        }
        > h3{
            margin-top: 16px;
        }
        .gender{
            display: flex;
            gap: 12px;
        }
    }
    #electoralDistrict{
        width: 100%;

        h2{
            width: 100%;
            height: 60px;
            background-color: #68C1F2;
            font-size: 16px;
            text-align: center;
            line-height: 60px;
            color: #fff;
            margin-top: 24px;
        }
        div{
            display: flex;
            flex-wrap: wrap;

            p{
                width: 50%;
                height: 42px;
                border: #E9E9E9 1px solid;

                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 1em;
                    position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-top: 1px solid #68C1F2;
                        border-right: 1px solid #68C1F2;
                        top: 16px;
                        right: 15%;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    #proportionalRepresentationDistrict{
        width: 100%;

        h2{
            width: 100%;
            height: 60px;
            background-color: #68C1F2;
            font-size: 16px;
            text-align: center;
            line-height: 60px;
            color: #fff;
        }
        table{
            width: 100%;

            thead{
                width: 100%;
                height: 40px;
    
                td{
                    color: #fff;
                    background-color: #BFBFBF;
                    height: 40px;
                    vertical-align: middle;
                    text-align: center;
                    padding: 0 5px;
                    font-size: 14px;
                    white-space: nowrap;
                    border-right: 1px solid #fff;
                    line-height: 1.3em;

                    &:last-of-type{
                        border-right: 0;
                    }
                }
            }
            tbody{
                width: 100%;

                td{
                    height: 40px;
                    padding: 5px;
                    vertical-align: middle;
                    line-height: 1.3em;
                    font-size: 12px;
                    border-right: 1px solid #D5D5D5;
                    border-bottom: 1px solid #d5d5d5;
                    text-align: center;
                    white-space: nowrap;

                    &:last-of-type{
                        border-right: 0;
                    }
                }
            }
        }
    }
}