section {
  width: 85%;
}
section .GoogleProfile {
  display: flex;
  gap: 16px;
  align-items: center;
}
section .GoogleProfile img {
  border-radius: 50%;
}
section .GoogleProfile div div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .GoogleProfile div div p {
  font-size: 16px;
}
section .GoogleProfile div div a {
  font-size: 10px;
  color: #1E76DE;
  margin-left: 72px;
}
section .GoogleProfile div p {
  margin-top: 4px;
}
section .profile {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
section .profile2 {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}
section .comment {
  margin-top: 16px;
}
section .comment p {
  font-size: 16px;
}
section .comment .commentSection {
  height: 120px;
  border: 1px solid #333;
  border-radius: 10px;
}
section .comment .commentSection p {
  margin: 8px;
}
section .news {
  margin-top: 16px;
}
section .news > p {
  font-size: 16px;
}
section .news > div {
  width: 160px;
  margin-top: 16px;
  position: relative;
}
section .news > div .photo {
  width: 100%;
  height: 120px;
  border-radius: 10px;
}
section .news > div input {
  position: absolute;
  top: 4px;
  right: 4px;
}
section .news > div > a > p {
  font-size: 10px;
}
section .news > div .timeComment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
section .news > div .timeComment :first-child {
  font-size: 8px;
  color: #a6a6a6;
}
section .news > div .timeComment ::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  background-image: url(../../../public/img/Comment.svg);
  background-repeat: no-repeat;
  top: 5px;
  right: 25px;
}
section .news > div .category {
  display: flex;
  gap: 4px;
}
section .news > div .category .place {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #EFEFEF;
  width: 36px;
  height: 12px;
  border-radius: 2px;
}
section .news > div .category .place p {
  font-size: 6px;
  color: #A6A6A6;
}
section .news > div .category .categoryPlace {
  width: 36px;
  height: 12px;
  border: #6BE956 1px solid;
  border-radius: 2px;
}
section .news > div .category .categoryPlace p {
  font-size: 6px;
  color: #A6A6A6;
  text-align: center;
  line-height: 10px;
}

.SignBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

@media (min-width: 960px) {
  section {
    width: 50%;
    margin: 0 auto;
  }
  section .GoogleProfile {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  section .GoogleProfile > img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  section .GoogleProfile div div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section .GoogleProfile div div p {
    font-size: 16px;
  }
  section .GoogleProfile div div a {
    font-size: 10px;
    color: #1E76DE;
    margin-left: 72px;
  }
  section .GoogleProfile div p {
    margin-top: 4px;
  }
  section .profile {
    display: flex;
    gap: 16px;
    margin-top: 24px;
  }
  section .profile2 {
    display: flex;
    gap: 16px;
    margin-top: 8px;
  }
  section .comment {
    margin-top: 16px;
  }
  section .comment p {
    font-size: 16px;
  }
  section .comment .commentSection {
    height: 120px;
    border: 1px solid #333;
    border-radius: 10px;
  }
  section .comment .commentSection p {
    margin: 8px;
  }
  section .news {
    margin-top: 16px;
  }
  section .news > p {
    font-size: 16px;
  }
  section .news > div {
    width: 160px;
    margin-top: 16px;
    position: relative;
  }
  section .news > div .photo {
    width: 100%;
    height: 120px;
    border-radius: 10px;
  }
  section .news > div input {
    position: absolute;
    top: 4px;
    right: 4px;
  }
  section .news > div > a > p {
    font-size: 10px;
  }
  section .news > div .timeComment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  section .news > div .timeComment :first-child {
    font-size: 8px;
    color: #a6a6a6;
  }
  section .news > div .timeComment ::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 10px;
    background-image: url(../../../public/img/Comment.svg);
    background-repeat: no-repeat;
    top: 5px;
    right: 25px;
  }
  section .news > div .category {
    display: flex;
    gap: 4px;
  }
  section .news > div .category .place {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: #EFEFEF;
    width: 36px;
    height: 12px;
    border-radius: 2px;
  }
  section .news > div .category .place p {
    font-size: 6px;
    color: #A6A6A6;
  }
  section .news > div .category .categoryPlace {
    width: 36px;
    height: 12px;
    border: #6BE956 1px solid;
    border-radius: 2px;
  }
  section .news > div .category .categoryPlace p {
    font-size: 6px;
    color: #A6A6A6;
    text-align: center;
    line-height: 10px;
  }
  .SignBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  main {
    padding-top: 150px;
  }
}/*# sourceMappingURL=style.css.map */